<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile Edit</title>
</head>

<body>
	<h1 th:text="${user.firstName} + ' ' + ${user.lastName}"></h1>
	<hr>
	<form th:action="@{/profile/edit}" method="post" th:object="${user}" enctype="multipart/form-data">
		<div>
			<img th:if="${user.profilePicture == null}" th:src="@{/images/profile.jpg}" alt="Profile picture"
				height="128px">
			<img th:if="${user.profilePicture != null}" th:src="@{/uploads/{filename}(filename=${user.profilePicture})}"
				alt="Profile picture" height="128px">
		</div>
		<div>
			<input type="file" name="profile">
		</div>
		<div>
			Email: <span th:text="${user.email}"></span>
		</div>
		<div>
			Username: <span th:text="${user.username}"></span>
		</div>
		<div>
			Gender: <span th:text="${user.gender}"></span>
		</div>
		<div>
			Address: <input type="text" th:field="*{address}">
		</div>
		<div>
			<input type="submit" value="Save">
		</div>
	</form>
</body>

</html>